@use '../variables';
@use './mixins';

$block: '.#{variables.$ns}user-avatar';

#{$block} {
    display: inline-block;
    overflow: hidden;

    box-sizing: border-box;

    border-radius: 50%;
    background-color: var(--g-color-base-background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &_size {
        @include mixins.size;
    }

    &__figure {
        object-fit: cover;
    }
}
